2021 USPS Vacant Building Data

In [14]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [15]:
# Store filepath in a variable
data_2021Q4 = "Resources/usps_vac_2021Q4.csv"

In [ ]:
data_2021Q3 = "Resources/usps_vac_2021Q3.csv"

In [ ]:
data_2021Q2 = "Resources/usps_vac_2021Q2.csv"

In [ ]:
data_2021Q1 = "Resources/usps_vac_2021Q1.csv"

In [30]:
key = "Resources/corr_key.csv"
corr_key_df = pd.read_csv(key)
corr_key_df

           GEOID             Corridor
0    24510260403         Highlandtown
1    24510230200  Hamilton Lauraville
2    24510260102              Pimlico
3    24510260303  Hamilton Lauraville
4    24510260800         Highlandtown
..           ...                  ...
195  24510220100                  NaN
196  24510230300                  NaN
197  24510250207                  NaN
198  24510250303                  NaN
199  24510260202                  NaN

[200 rows x 2 columns]

In [16]:
vac_2021Q4_df = pd.read_csv(data_2021Q4)
vac_2021Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0","new_addr_r,N,16,0","new_addr_b,N,16,0","new_addr_o,N,16,0","drop_add_r,N,16,0","drop_add_b,N,16,0","drop_add_o,N,16,0"
0,72011810400,7881,447,52,227,106,0,1979.33,2637.28,0.0,...,0,1,0,0,15,0,0,89,14,0
1,72023830503,1332,36,6,77,6,0,2806.16,4581.17,0.0,...,0,0,0,0,0,0,0,292,11,0
2,72051540200,1819,174,35,175,22,0,1892.67,3523.05,0.0,...,0,3,0,0,0,0,0,145,8,0
3,72071410200,1357,36,20,117,5,0,3121.80,2676.60,0.0,...,0,0,0,0,2,0,0,153,6,0
4,72091570600,1054,80,10,54,9,0,1673.02,1950.78,0.0,...,0,1,0,0,0,0,0,111,10,0

In [17]:
vac_2021Q4_df.shape

(65535, 67)

In [18]:
# Remove rows that do not include Baltimore GEOID ("24510....); Baltimore FIPS  is 24, Baltimore FIPS is 510, rest of the geoid is census tract #
balt_2021Q4_df = vac_2021Q4_df[vac_2021Q4_df["geoid,C,11"].between(24510000000, 24510999999, inclusive=True)]
balt_2021Q4_df

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0","new_addr_r,N,16,0","new_addr_b,N,16,0","new_addr_o,N,16,0","drop_add_r,N,16,0","drop_add_b,N,16,0","drop_add_o,N,16,0"
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,0,0,1,0,0,0,0,6,35,0
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,0,0,0,0,0,0,0,24,2,0
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,0,0,0,0,0,0,0,235,2,0
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,0,0,0,0,0,0,0,29,33,0
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,0,0,0,0,0,0,0,40,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64975,24510080101,1398,90,65,127,27,0,1302.03,1673.89,0.0,...,0,0,0,0,1,0,0,2,3,0
64976,24510060200,1521,48,24,105,6,0,1278.22,1370.33,0.0,...,0,0,0,0,0,0,0,10,2,0
64979,24510270803,3816,345,280,92,12,0,646.90,2887.33,0.0,...,0,0,0,0,0,0,0,0,0,0
64980,24510030100,1339,212,123,273,23,0,835.92,2654.70,0.0,...,0,0,0,0,0,0,0,39,24,0
64982,24510230300,1266,55,24,30,9,0,1386.00,1226.67,0.0,...,0,0,0,0,0,0,0,0,2,0

In [9]:
balt_2021Q4_df.dtypes

geoid,C,11           int64
ams_res,N,16,0       int64
ams_bus,N,16,0       int64
ams_oth,N,16,0       int64
res_vac,N,16,0       int64
                     ...
new_addr_b,N,16,0    int64
new_addr_o,N,16,0    int64
drop_add_r,N,16,0    int64
drop_add_b,N,16,0    int64
drop_add_o,N,16,0    int64
Length: 67, dtype: object

In [10]:
balt_2021Q4_df.count()

geoid,C,11           184
ams_res,N,16,0       184
ams_bus,N,16,0       184
ams_oth,N,16,0       184
res_vac,N,16,0       184
                    ...
new_addr_b,N,16,0    184
new_addr_o,N,16,0    184
drop_add_r,N,16,0    184
drop_add_b,N,16,0    184
drop_add_o,N,16,0    184
Length: 67, dtype: int64

In [19]:
for col in balt_2021Q4_df.columns:
    print(col)

geoid,C,11
ams_res,N,16,0
ams_bus,N,16,0
ams_oth,N,16,0
res_vac,N,16,0
bus_vac,N,16,0
oth_vac,N,16,0
avg_vac_r,N,16,2
avg_vac_b,N,16,2
avg_vac_o,N,16,2
vac_3_res,N,16,0
vac_3_bus,N,16,0
vac_3_oth,N,16,0
vac_3_6_r,N,16,0
vac_3_6_b,N,16,0
vac_3_6_o,N,16,0
vac_6_12r,N,16,0
vac_6_12b,N,16,0
vac_6_12o,N,16,0
vac_12_24r,N,16,0
vac_12_24b,N,16,0
vac_12_24o,N,16,0
vac_24_36r,N,16,0
vac_24_36b,N,16,0
vac_24_36o,N,16,0
vac_36_res,N,16,0
vac_36_bus,N,16,0
vac_36_oth,N,16,0
pqv_is_res,N,16,0
pqv_is_bus,N,16,0
pqv_is_oth,N,16,0
pqv_ns_res,N,16,0
pqv_ns_bus,N,16,0
pqv_ns_oth,N,16,0
nostat_res,N,16,0
nostat_bus,N,16,0
nostat_oth,N,16,0
avg_ns_res,N,16,2
avg_ns_bus,N,16,2
avg_ns_oth,N,16,2
ns_3_res,N,16,0
ns_3_bus,N,16,0
ns_3_oth,N,16,0
ns_3_6_res,N,16,0
ns_3_6_bus,N,16,0
ns_3_6_oth,N,16,0
ns_6_12_r,N,16,0
ns_6_12_b,N,16,0
ns_6_12_o,N,16,0
ns_12_24_r,N,16,0
ns_12_24_b,N,16,0
ns_12_24_o,N,16,0
ns_24_36_r,N,16,0
ns_24_36_b,N,16,0
ns_24_36_o,N,16,0
ns_36_res,N,16,0
ns_36_bus,N,16,0
ns_36_oth,N,16,0
pqns_is_r,N,16,0
pqns_is_b,N,16,0
pqns_is_o,N,16,0
new_addr_r,N,16,0
new_addr_b,N,16,0
new_addr_o,N,16,0
drop_add_r,N,16,0
drop_add_b,N,16,0
drop_add_o,N,16,0

In [ ]:
# Create a new DataFrame that looks into a specific neighborhood
#vernon_crime_df = no_null_crime_df.loc[no_null_crime_df["Neighborhood"] == "Vernon"]
#vernon_crime_df

In [20]:
# remove columns that aren't going to be analyzed
balt_2021Q4_df = balt_2021Q4_df.drop(["pqv_is_res,N,16,0", "pqv_is_bus,N,16,0", "pqv_is_oth,N,16,0",
                                 "pqv_ns_res,N,16,0", "pqv_ns_bus,N,16,0", "pqv_ns_oth,N,16,0",
                                 "pqns_is_r,N,16,0", "pqns_is_b,N,16,0", "pqns_is_o,N,16,0",
                                  "new_addr_r,N,16,0", "new_addr_b,N,16,0", "new_addr_o,N,16,0",
                                  "drop_add_r,N,16,0", "drop_add_b,N,16,0", "drop_add_o,N,16,0"],
                                  axis=1)
balt_2021Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_6_12_o,N,16,0","ns_12_24_r,N,16,0","ns_12_24_b,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0"
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,0,3,4,0,0,4,0,73,122,0
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,0,3,0,0,2,1,0,47,1,0
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,0,11,0,0,12,0,0,366,27,0
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,0,2,0,0,3,0,0,628,127,0
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,0,1,0,0,0,0,0,36,19,0

In [21]:
# Sum columns for vacancies <24 months for businesses and add new column "Business vacancies <24 months"
columns_under24= ["vac_3_bus,N,16,0",
                 "vac_3_6_b,N,16,0",
                 "vac_6_12b,N,16,0",
                 "vac_12_24b,N,16,0"]
balt_2021Q4_df["Business vacancies <24 months"]=balt_2021Q4_df[columns_under24].sum(axis=1)
balt_2021Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_r,N,16,0","ns_12_24_b,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0",Business vacancies <24 months
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,3,4,0,0,4,0,73,122,0,4
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,3,0,0,2,1,0,47,1,0,1
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,11,0,0,12,0,0,366,27,0,1
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,2,0,0,3,0,0,628,127,0,0
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,1,0,0,0,0,0,36,19,0,1

In [22]:
# Sum columns for vacancies 24 months or longer for businesses and add new column "Business vacancies 24 mos. or longer"
columns_24plus= ["vac_24_36b,N,16,0",
                "vac_36_bus,N,16,0"]
balt_2021Q4_df["Business vacancies 24 mos. or longer"]=balt_2021Q4_df[columns_24plus].sum(axis=1)
balt_2021Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_b,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0",Business vacancies <24 months,Business vacancies 24 mos. or longer
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,4,0,0,4,0,73,122,0,4,4
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,0,0,2,1,0,47,1,0,1,1
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,0,0,12,0,0,366,27,0,1,0
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,0,0,3,0,0,628,127,0,0,11
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,0,0,0,0,0,36,19,0,1,7

In [23]:
# Sum columns for "No-Stat" <24 months for businesses and add new column "Business No-Stat <24 months"
# "No-Stat" is for buildings that USPS does not consider deliverable either because they're under construction or are abandoned
columns_nostat24= ["ns_3_bus,N,16,0",
                  "ns_36_bus,N,16,0",
                  "ns_6_12_b,N,16,0",
                  "ns_12_24_b,N,16,0"
                  ]
balt_2021Q4_df["Business no-stat <24 months"]=balt_2021Q4_df[columns_nostat24].sum(axis=1)
balt_2021_dfQ4.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0",Business vacancies <24 months,Business vacancies 24 mos. or longer,Business no-stat <24 months
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,0,0,4,0,73,122,0,4,4,127
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,0,2,1,0,47,1,0,1,1,1
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,0,12,0,0,366,27,0,1,0,28
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,0,3,0,0,628,127,0,0,11,127
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,0,0,0,0,36,19,0,1,7,19

In [24]:
# Sum columns for "No-Stat" 24+ months for businesses and add new column "Business No-Stat 24 mos. or longer"

columns_nostat24plus= ["ns_24_36_b,N,16,0",
                       "ns_36_bus,N,16,0"]
                  
balt_2021Q4_df["Business no-stat 24 mos. or longer"]=balt_2021Q4_df[columns_nostat24plus].sum(axis=1)
balt_2021Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0",Business vacancies <24 months,Business vacancies 24 mos. or longer,Business no-stat <24 months,Business no-stat 24 mos. or longer
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,0,4,0,73,122,0,4,4,127,126
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,2,1,0,47,1,0,1,1,1,2
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,12,0,0,366,27,0,1,0,28,27
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,3,0,0,628,127,0,0,11,127,127
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,0,0,0,36,19,0,1,7,19,19

In [26]:
#short_balt_2021 = balt_2021_df.drop(["vac_3_bus,N,16,0",
#                 "vac_3_6_b,N,16,0",
#                 "vac_6_12b,N,16,0",
#                 "vac_12_24b,N,16,0",
#                 "vac_24_36b,N,16,0",
#                 "vac_36_bus,N,16,0",
#                 "ns_3_bus,N,16,0",
#                "ns_36_bus,N,16,0",
#                 "ns_6_12_b,N,16,0",
#                 "ns_12_24_b,N,16,0",
#                 "ns_24_36_b,N,16,0",
#                 "ns_36_bus,N,16,0"                   
#                 ],

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_r,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_oth,N,16,0",Business vacancies <24 months,Business vacancies 24 mos. or longer,Business no-stat <24 months,Business no-stat 24 mos. or longer
666,24510170200,1854,196,157,186,8,0,2837.91,937.75,0.0,...,3,0,0,0,73,0,4,4,127,126
668,24510090100,1880,31,146,166,2,0,1942.54,1963.00,0.0,...,3,0,2,0,47,0,1,1,1,2
669,24510140100,3018,97,405,63,1,0,2257.46,182.00,0.0,...,11,0,12,0,366,0,1,0,28,27
670,24510090500,1425,203,94,101,11,0,2754.80,2959.64,0.0,...,2,0,3,0,628,0,0,11,127,127
671,24510270600,1968,91,126,86,8,0,2109.03,3057.38,0.0,...,1,0,0,0,36,0,1,7,19,19

In [34]:
short_balt_2021Q4 = balt_2021Q4_df[["geoid,C,11", "Business vacancies <24 months", "Business vacancies 24 mos. or longer",
                               "Business no-stat <24 months", "Business no-stat 24 mos. or longer"]]
short_balt_2021Q4

,"geoid,C,11",Business vacancies <24 months,Business vacancies 24 mos. or longer,Business no-stat <24 months,Business no-stat 24 mos. or longer
666,24510170200,4,4,127,126
668,24510090100,1,1,1,2
669,24510140100,1,0,28,27
670,24510090500,0,11,127,127
671,24510270600,1,7,19,19
...,...,...,...,...,...
64975,24510080101,9,18,4,4
64976,24510060200,2,4,6,6
64979,24510270803,0,12,243,236
64980,24510030100,0,23,40,54
64982,24510230300,4,5,11,5

In [36]:
short_balt_2021Q4 = short_balt_2021Q4.rename(columns={"geoid,C,11": "GEOID"})
short_balt_2021Q4

,GEOID,Business vacancies <24 months,Business vacancies 24 mos. or longer,Business no-stat <24 months,Business no-stat 24 mos. or longer
666,24510170200,4,4,127,126
668,24510090100,1,1,1,2
669,24510140100,1,0,28,27
670,24510090500,0,11,127,127
671,24510270600,1,7,19,19
...,...,...,...,...,...
64975,24510080101,9,18,4,4
64976,24510060200,2,4,6,6
64979,24510270803,0,12,243,236
64980,24510030100,0,23,40,54
64982,24510230300,4,5,11,5

In [37]:
# merge the corridor key dataframe with the short_balt_2021 dataframe on the common column "GEOID"
balt_dfQ4 = pd.merge(
    short_balt_2021Q4, corr_key_df, on="GEOID")

# remove any columns with missing values, by using .dropna()
balt_dfQ4 = balt_dfQ4.dropna()
balt_dfQ4

,GEOID,Business vacancies <24 months,Business vacancies 24 mos. or longer,Business no-stat <24 months,Business no-stat 24 mos. or longer,Corridor
0,24510170200,4,4,127,126,Penn Ave
1,24510090100,1,1,1,2,E Monument St
3,24510090500,0,11,127,127,Waverly
4,24510270600,1,7,19,19,Hamilton Lauraville
5,24510230100,3,7,131,129,Park Heights
...,...,...,...,...,...,...
177,24510120400,0,4,23,22,Penn Ave
178,24510130400,0,11,21,22,Brooklyn
179,24510080101,9,18,4,4,Belair Rd
180,24510060200,2,4,6,6,E Monument St
181,24510270803,0,12,243,236,Penn Ave

In [27]:
# Replace the census variable codes (such as "B19013_001E") in the dataframe with text so it's understandable
census_joined = census_joined.rename(columns={"B01003_001E": "Population",
                                      "tract": "Census Tract",        
                                      "B01002_001E": "Median age",
                                      "B19013_001E": "Median household income",
                                      "B19301_001E": "Per capita income", 
                                      "B17001_002E": "Poverty count",
                                      "B23025_004E": "# employed, age 16+",
                                      "B23025_005E": "Unemployment count",
                                      "B15003_017E": "# persons age 25+ graduated high school",
                                      "B15003_022E": "# persons age 25+ with Bachelor's degree",
                                      "B02001_002E": "Pop. white",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_005E": "Pop. Asian",        
                                      "B02001_008E": "Pop. 2 or more races",
                                      "B03001_003E": "Pop. Hispanic origin",
                                      "B25008_002E": "Total pop. in occupied housing units by tenure",
                                      "B25003_002E": "Total owner-occupied units",
                                      "B25003_003E": "Total renter-occupied units",
                                      "NAME": "Name", "state": "State", "GEOID": "GEOID"})

,Census_tract,Pop. <18 years,Pop. working age,Pop. 65+ years,Name,Median household income,Population,Median age,Per capita income,Poverty count,...,Pop. Hispanic origin,Total pop. in occupied housing units by tenure,B28007_001E,Total owner-occupied units,Total renter-occupied units,State,county,GEOID,Poverty rate,Unemployment rate
0,260403,586.0,1045.0,133.0,"Census Tract 2604.03, Baltimore city, Maryland",31625.0,1764.0,27.9,21744.0,436.0,...,0.0,306.0,1218.0,119.0,622.0,24,510,24510260403,24.716553,1.927438
1,230200,174.0,1580.0,228.0,"Census Tract 2302, Baltimore city, Maryland",107391.0,1982.0,30.7,63973.0,151.0,...,88.0,1030.0,1808.0,539.0,443.0,24,510,24510230200,7.618567,0.857719
2,260102,1086.0,3057.0,632.0,"Census Tract 2601.02, Baltimore city, Maryland",62586.0,4775.0,41.3,25903.0,469.0,...,94.0,3674.0,3812.0,1384.0,323.0,24,510,24510260102,9.821990,3.162304
3,260303,266.0,621.0,82.0,"Census Tract 2603.03, Baltimore city, Maryland",17000.0,969.0,37.0,19562.0,377.0,...,66.0,164.0,716.0,88.0,368.0,24,510,24510260303,38.906089,2.063983
4,260800,456.0,1630.0,246.0,"Census Tract 2608, Baltimore city, Maryland",40795.0,2332.0,36.1,26895.0,481.0,...,970.0,751.0,1875.0,415.0,580.0,24,510,24510260800,20.626072,1.629503

In [28]:
# Add in home ownership rate (# owner-occupied units / # of occupied housing units)
# sum 2 columns: total owner-occupied units + total renter-occupied units to create additional column "Total occupied units" 
sum_column = census_joined['Total owner-occupied units'] + census_joined['Total renter-occupied units']
census_joined["Total occupied units"] = sum_column

In [29]:
census_joined["Home ownership rate"] = 100 * \
    census_joined["Total owner-occupied units"].astype(
        int) / census_joined["Total occupied units"].astype(
        int) 

census_joined.head()

,Census_tract,Pop. <18 years,Pop. working age,Pop. 65+ years,Name,Median household income,Population,Median age,Per capita income,Poverty count,...,B28007_001E,Total owner-occupied units,Total renter-occupied units,State,county,GEOID,Poverty rate,Unemployment rate,Total occupied units,Home ownership rate
0,260403,586.0,1045.0,133.0,"Census Tract 2604.03, Baltimore city, Maryland",31625.0,1764.0,27.9,21744.0,436.0,...,1218.0,119.0,622.0,24,510,24510260403,24.716553,1.927438,741.0,16.059379
1,230200,174.0,1580.0,228.0,"Census Tract 2302, Baltimore city, Maryland",107391.0,1982.0,30.7,63973.0,151.0,...,1808.0,539.0,443.0,24,510,24510230200,7.618567,0.857719,982.0,54.887984
2,260102,1086.0,3057.0,632.0,"Census Tract 2601.02, Baltimore city, Maryland",62586.0,4775.0,41.3,25903.0,469.0,...,3812.0,1384.0,323.0,24,510,24510260102,9.821990,3.162304,1707.0,81.077914
3,260303,266.0,621.0,82.0,"Census Tract 2603.03, Baltimore city, Maryland",17000.0,969.0,37.0,19562.0,377.0,...,716.0,88.0,368.0,24,510,24510260303,38.906089,2.063983,456.0,19.298246
4,260800,456.0,1630.0,246.0,"Census Tract 2608, Baltimore city, Maryland",40795.0,2332.0,36.1,26895.0,481.0,...,1875.0,415.0,580.0,24,510,24510260800,20.626072,1.629503,995.0,41.708543

In [30]:
# Round the home ownership rate to one decimal point; using "float" instead of "int" because want to use decimal points
census_joined["Home ownership rate"] = census_joined["Home ownership rate"].astype(float).round(1)

In [38]:
# List the columns in the  dataframe
short_balt_2021Q4.columns

Index(['GEOID', 'Business vacancies <24 months',
       'Business vacancies 24 mos. or longer', 'Business no-stat <24 months',
       'Business no-stat 24 mos. or longer'],
      dtype='object')

In [39]:
# Calculate the number of unique census tracts in the DataFrame
tract_count = len(short_balt_2021Q4["GEOID"].unique())
tract_count

184

In [45]:
# reset the index numbers for the dataframe (the first column)
corridors_df = corridors_df.reset_index(drop=True)
corridors_df.head()
# remove the "county" column as it is not needed
#corridors_df = corridors_df.drop(["county"], axis=1)

,Census_tract,Pop. <18 years,Pop. working age,Pop. 65+ years,Median household income,Population,Median age,Per capita income,Poverty count,Unemployment count,...,Total owner-occupied units,Total renter-occupied units,State,county,GEOID,Poverty rate,Unemployment rate,Total occupied units,Home ownership rate,Corridor
0,260403,586.0,1045.0,133.0,31625.0,1764.0,27.9,21744.0,436.0,34.0,...,119.0,622.0,24,510,24510260403,24.7,1.9,741.0,16.1,Highlandtown
1,230200,174.0,1580.0,228.0,107391.0,1982.0,30.7,63973.0,151.0,17.0,...,539.0,443.0,24,510,24510230200,7.6,0.9,982.0,54.9,Hamilton Lauraville
2,260102,1086.0,3057.0,632.0,62586.0,4775.0,41.3,25903.0,469.0,151.0,...,1384.0,323.0,24,510,24510260102,9.8,3.2,1707.0,81.1,Pimlico
3,260303,266.0,621.0,82.0,17000.0,969.0,37.0,19562.0,377.0,20.0,...,88.0,368.0,24,510,24510260303,38.9,2.1,456.0,19.3,Hamilton Lauraville
4,260800,456.0,1630.0,246.0,40795.0,2332.0,36.1,26895.0,481.0,38.0,...,415.0,580.0,24,510,24510260800,20.6,1.6,995.0,41.7,Highlandtown

In [46]:
# Change order of columns in DataFrame by using double brackets
# Notice that columns such as "state" and "county" were not included in the code below and they are no longer included in the dataframe (they're extraneous, we don't need them)
corridors_df = corridors_df[["Corridor", "Census_tract", "GEOID", "Population", "Median household income",
                       "Per capita income", "Poverty count", "Poverty rate", "Unemployment rate", 
                       "# employed, age 16+", "Unemployment count",
                      "# persons age 25+ graduated high school", "# persons age 25+ with Bachelor's degree",
                      "Median age","Pop. white", "Pop. Black", "Pop. 2 or more races", "Pop. Hispanic origin", 
                      "Pop. Asian","Total pop. in occupied housing units by tenure", "Total owner-occupied units", "Total renter-occupied units",
                      "Pop. <18 years", "Pop. working age", "Pop. 65+ years"]]

corridors_df.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,260403,24510260403,1764.0,31625.0,21744.0,436.0,24.7,1.9,885.0,...,1741.0,0.0,0.0,0.0,306.0,119.0,622.0,586.0,1045.0,133.0
1,Hamilton Lauraville,230200,24510230200,1982.0,107391.0,63973.0,151.0,7.6,0.9,1500.0,...,169.0,99.0,88.0,31.0,1030.0,539.0,443.0,174.0,1580.0,228.0
2,Pimlico,260102,24510260102,4775.0,62586.0,25903.0,469.0,9.8,3.2,2366.0,...,4254.0,0.0,94.0,60.0,3674.0,1384.0,323.0,1086.0,3057.0,632.0
3,Hamilton Lauraville,260303,24510260303,969.0,17000.0,19562.0,377.0,38.9,2.1,286.0,...,626.0,29.0,66.0,0.0,164.0,88.0,368.0,266.0,621.0,82.0
4,Highlandtown,260800,24510260800,2332.0,40795.0,26895.0,481.0,20.6,1.6,1233.0,...,310.0,10.0,970.0,35.0,751.0,415.0,580.0,456.0,1630.0,246.0

In [47]:
# sort the column "Census_tract" so that it is easier to compare with other years that we are going to pull in another notebook
census_2019_FINAL =corridors_df.sort_values("Census_tract")
census_2019_FINAL = census_2019_FINAL.reset_index(drop=True)
census_2019_FINAL

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,010200,24510010200,2858.0,106250.0,57925.0,133.0,4.7,1.3,2086.0,...,128.0,72.0,92.0,126.0,2331.0,1118.0,293.0,324.0,2308.0,226.0
1,Brooklyn,020300,24510020300,3761.0,108026.0,83545.0,342.0,9.1,0.9,2985.0,...,138.0,224.0,263.0,308.0,1376.0,697.0,1455.0,214.0,3144.0,403.0
2,E Monument St,040100,24510040100,5051.0,64016.0,50026.0,626.0,12.4,1.9,3496.0,...,1532.0,298.0,501.0,866.0,322.0,230.0,2854.0,437.0,4444.0,170.0
3,Hamilton Lauraville,040200,24510040200,984.0,43417.0,19148.0,93.0,9.5,1.7,440.0,...,338.0,68.0,34.0,129.0,0.0,0.0,261.0,22.0,943.0,19.0
4,E Monument St,060200,24510060200,3037.0,69034.0,40668.0,1026.0,33.8,5.1,1516.0,...,1298.0,84.0,334.0,109.0,1547.0,578.0,505.0,771.0,2116.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Waverly,280302,24510280302,2538.0,44423.0,24760.0,519.0,20.4,4.9,1179.0,...,2201.0,209.0,15.0,12.0,834.0,314.0,708.0,606.0,1677.0,255.0
121,Pimlico,280401,24510280401,3269.0,46493.0,31029.0,350.0,10.7,2.0,1635.0,...,2669.0,111.0,23.0,16.0,2351.0,972.0,501.0,583.0,2099.0,587.0
122,Pigtown,280402,24510280402,1632.0,48750.0,23395.0,262.0,16.1,5.2,662.0,...,1601.0,1.0,28.0,0.0,1269.0,512.0,105.0,316.0,967.0,349.0
123,Belair Rd,280403,24510280403,5468.0,57973.0,34384.0,263.0,4.8,1.7,3032.0,...,4033.0,100.0,63.0,32.0,2692.0,898.0,1307.0,1247.0,3677.0,544.0
124,E Monument St,280404,24510280404,2631.0,39233.0,23113.0,613.0,23.3,3.7,1058.0,...,2356.0,134.0,107.0,0.0,1153.0,442.0,655.0,597.0,1573.0,461.0

In [48]:
# Export file as a CSV, without the Pandas index, but with the header
# Do not run this last code block until you have all previous code blocks in their final form:

#census_2019_FINAL.to_csv("CommCorr_Census_Stats_2019.csv", index = False, header=True)

In [49]:
census_2019_formatted = census_2019_FINAL
census_2019_formatted.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,010200,24510010200,2858.0,106250.0,57925.0,133.0,4.7,1.3,2086.0,...,128.0,72.0,92.0,126.0,2331.0,1118.0,293.0,324.0,2308.0,226.0
1,Brooklyn,020300,24510020300,3761.0,108026.0,83545.0,342.0,9.1,0.9,2985.0,...,138.0,224.0,263.0,308.0,1376.0,697.0,1455.0,214.0,3144.0,403.0
2,E Monument St,040100,24510040100,5051.0,64016.0,50026.0,626.0,12.4,1.9,3496.0,...,1532.0,298.0,501.0,866.0,322.0,230.0,2854.0,437.0,4444.0,170.0
3,Hamilton Lauraville,040200,24510040200,984.0,43417.0,19148.0,93.0,9.5,1.7,440.0,...,338.0,68.0,34.0,129.0,0.0,0.0,261.0,22.0,943.0,19.0
4,E Monument St,060200,24510060200,3037.0,69034.0,40668.0,1026.0,33.8,5.1,1516.0,...,1298.0,84.0,334.0,109.0,1547.0,578.0,505.0,771.0,2116.0,150.0

In [50]:
# Use .map to format columns (helpful resource for this: https://towardsdatascience.com/apply-thousand-separator-and-other-formatting-to-pandas-dataframe-45f2f4c7ab01)
# Note: once you format values in a column, they are changed to strings (see cell below to see data types of each column)
# I will use the census_2017_FINAL dataframe to use for analysis as needed (can do calculations with number data types but not strings)
# You may need to restart the kernel after you format
census_2019_formatted["Median household income"] = census_2019_FINAL["Median household income"].map("${:.2f}".format)
census_2019_formatted["Per capita income"] = census_2019_FINAL["Per capita income"].map("${:.2f}".format)
census_2019_formatted["Population"] = census_2019_formatted["Population"].map("{:,.0f}".format)
census_2019_formatted["Poverty count"] = census_2019_formatted["Poverty count"].map("{:,.0f}".format)
census_2019_formatted["Poverty rate"] = census_2019_formatted["Poverty rate"].map("{:.2%}".format)
census_2019_formatted["Unemployment rate"] = census_2019_formatted["Unemployment rate"].map("{:.2%}".format)

census_2019_formatted = census_2019_formatted.reset_index(drop=True)
census_2019_formatted.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,010200,24510010200,"2,858",$106250.00,$57925.00,133,470.00%,130.00%,2086.0,...,128.0,72.0,92.0,126.0,2331.0,1118.0,293.0,324.0,2308.0,226.0
1,Brooklyn,020300,24510020300,"3,761",$108026.00,$83545.00,342,910.00%,90.00%,2985.0,...,138.0,224.0,263.0,308.0,1376.0,697.0,1455.0,214.0,3144.0,403.0
2,E Monument St,040100,24510040100,"5,051",$64016.00,$50026.00,626,1240.00%,190.00%,3496.0,...,1532.0,298.0,501.0,866.0,322.0,230.0,2854.0,437.0,4444.0,170.0
3,Hamilton Lauraville,040200,24510040200,984,$43417.00,$19148.00,93,950.00%,170.00%,440.0,...,338.0,68.0,34.0,129.0,0.0,0.0,261.0,22.0,943.0,19.0
4,E Monument St,060200,24510060200,"3,037",$69034.00,$40668.00,"1,026",3380.00%,510.00%,1516.0,...,1298.0,84.0,334.0,109.0,1547.0,578.0,505.0,771.0,2116.0,150.0